<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<ul class='list-unstyled'>
			<% @users.each do |user| %>
				<% if user.profile %>
					<li class="profile-index row well <%= cycle('white-bg', '') %> text-center">
						<div class="col-sm-4">
							<%= link_to user do %> <%= image_tag user.profile.avatar.url(:thumb), class: 'profile-avatar-index' if user.profile.avatar.file? %> <% end %>
						</div>
						<div>
							<h2> <%= link_to user do %> <%= user.profile.first_name %> <%= user.profile.last_name %> <% end %> 
							<% if user.plan_id == 2 %> <span class="label label-danger">Pro</span> <% end %> </h2> 
							<p><%= user.profile.description %></p>
						</div>
					</li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>